@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1673183122835') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gitee:before {
  content: "\e60c";
}

.icon-denglong4:before {
  content: "\e7e5";
}

.icon-denglong2:before {
  content: "\e7e6";
}

.icon-dagu:before {
  content: "\e7e7";
}

.icon-denglong3:before {
  content: "\e7e8";
}

.icon-bianpao:before {
  content: "\e7e9";
}

.icon-fashi:before {
  content: "\e7ea";
}

.icon-caishen:before {
  content: "\e7eb";
}

.icon-qianbi1:before {
  content: "\e7ec";
}

.icon-wanju:before {
  content: "\e7ed";
}

.icon-facai:before {
  content: "\e7ee";
}

.icon-yuanbao:before {
  content: "\e7ef";
}

.icon-zhishan:before {
  content: "\e7f0";
}

.icon-qianbi2:before {
  content: "\e7f1";
}

.icon-lingshi:before {
  content: "\e7f2";
}

.icon-miaohui:before {
  content: "\e7f3";
}

.icon-juhui:before {
  content: "\e7f4";
}

.icon-xiangyun:before {
  content: "\e7f5";
}

.icon-liyu:before {
  content: "\e7f6";
}

.icon-dengshi:before {
  content: "\e7f7";
}

.icon-hongbao:before {
  content: "\e7f8";
}

.icon-zhongguojie:before {
  content: "\e7f9";
}

.icon-paotong:before {
  content: "\e7fa";
}

.icon-denglong1:before {
  content: "\e7fb";
}

.icon-gongpin:before {
  content: "\e7fc";
}

.icon-qiandai:before {
  content: "\e7fd";
}

.icon-huahui:before {
  content: "\e7fe";
}

.icon-zhuci:before {
  content: "\e7ff";
}

